<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .sprite {
        width: 5em;
        margin: 2em;
      }
    </style>
  </head>
  <body>
    <!-- <p>
      Search for pokemon!!!
    </p>
    <input type="text" name="input" id="input" placeholder="Input pokemon name!">
    <button class="search-btn">
      Search!
    </button>
    <br>
    <div class="img-container">
    </div> -->
   <!--  <script>
      async function fetchPokemon(pokemon) {
        try {
          const response = await fetch ("https://pokeapi.co/api/v2/pokemon/" + pokemon)

          if (!response.ok) {
            throw new Error ("Could not fetch resource.")
          }

          return await response.json ();
        } catch (error) {
          console.log(error);
        }
      }


      const BUTTON = document.querySelector (".search-btn");
      const INPUT = document.querySelector ("#input");

      BUTTON.addEventListener ('click', async (e)=> {
        const SPRITE_ELEMENT = document.querySelector ('.img-container');
        if (INPUT.value.trim()) {
          const data = await fetchPokemon(INPUT.value);
          SPRITE_ELEMENT.innerHTML += `<img src="./loading-gif.gif" alt="loading-gif" id="loading-gif" class="sprite">`
          const spriteURL = data.sprites.front_default;
       
          document.querySelector ('#loading-gif').remove ();
          SPRITE_ELEMENT.innerHTML += `<img src="${spriteURL}" alt="sprite" id="sprite" class="sprite">`
          
          INPUT.value = ""
          
        }
      });
    </script> -->

    <!-- <script>
      async function fetchAgent(){
        const response = await fetch ("https://valorant-api.com/v1/agents");
        const agents = await response.json ();
        console.log(agents.data [2]);
      } 

      fetchAgent ();
    </script> -->
  
  
  
  </body>
</html>
